
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f9f9f7;
}


header {
  background: #E6E5DF;
  border-bottom: 1px solid #ddd;
}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none; 
  display: flex;
  gap: 4rem;
  padding: 0; 
  margin: 0; 
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}


.nav-links a:hover {
  color: #8d565a; 
  transform: scale(1.05); 
}


.nav-buttons .btn {
  margin-left: 0.5rem;
  padding: 0.5rem 1.2rem;
  border: 1px solid #333;
  background: #e1dedc;
  cursor: pointer;
  border-radius: 25px; 
  transition: all 0.3s ease;
}


.btn-primary {
background-color: #333;
color: #7e7575;
}


.nav-buttons .btn:hover {
  background: #8d565a; 
  color: #fff; 
  transform: scale(1.05); 
  border-color: #a67c52;
}

.logo img {
  height: 70px;  
  width: 60px;    
}
.hero {
  background: url("assets/hero-bg.png") no-repeat center/cover;
  text-align: center;
  padding: 4rem 2rem;
}
.hero h1 {
  position: relative;
  display: inline-block; 
  padding: 1rem 2rem;
  background: rgba(241, 239, 239, 0.4); 
  border-radius: 5px;
  color: #242121;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 1rem;

}
.hero:hover .hero-text {
  transform: scale(1.05)
}

.feature {
  position: relative;
  background: url("assets/img/feature.png") no-repeat center/cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;     
  padding: 2rem;
  color: #000000;
}

.feature-text p.typewriter,
.feature-text h2.typewriter {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif; 
  display: inline-block;
  overflow: hidden;                 
  white-space: nowrap;              

  animation: typing 4s steps(60, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #fff; }
}



@keyframes slideUpFade {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.cards-container {

  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  padding: 3rem 2rem;
}
.card {

  width: 240px;
  height: 340px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;



  background-size: cover;
  background-color: #e6e5df;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  color:#311414;
}

.card-front h3, .card-front p,
.card-back h3, .card-back p {
  background: transparent;
  padding: 0.5rem;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
}



.card-front img, .card-back img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: .5rem;
}
.card-front h3 {
  margin: .5rem 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.1rem;
}
.card-front p, .card-back p {
  font-size: .9rem;
  line-height: 1.3;
  text-align: center;
}
.card-back {
  transform: rotateY(180deg);
  text-align: center;
  font-size: .9rem;
}



footer {
  background: #e8e6e2;
  padding: 2rem;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}
.footer-copy {
  margin-top: 1rem;
  font-size: .8rem;
  color: #555;
}

.socials a {
    color: #333;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.socials a:hover {
    color: #83583a; 
    transform: translateY(-3px);
}


@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }


}
